@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,600&display=swap");

@import "reset.css";

@import "components/header.css";

body {
  background-color: violet;
  height: 300vh;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
}

.show-box {
  display: flex;
  height: 540px;
  width: 1150px;
  margin-top: 150px;
  background-color: yellow;
  flex-direction: column;
}

.show-box__text {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.show-box__subtitle {
  margin-top: 14px;
  font-size: 16px;
  letter-spacing: -2.5px;
  opacity: 0.7;
}
.show-box__link {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 300;
}
.show-box__link .show-box__link-item {
  margin-top: 15px;
}
.show-box__link .show-box__link-item span {
  margin-right: 10px;
}

.show-box__control {
  color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: 50px;
  z-index: 2;
}
.show-box__control span {
  margin: 0 8px;
}

.show-box__background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 540px;
}
