@import "reset";
@import "_variables.scss";
@import "_mixins.scss";

//슬라이더 background 이미지 url
// https://cdn.hancom.com/link/images/main/kr/main_visual_img2.jpg?v=20200612
// https://cdn.hancom.com/link/images/main/kr/main_visual_img_genietalkgo2_bg2.png?v=20200617
// https://cdn.hancom.com/link/images/main/kr/main_visual_img1_2020.png?v=20200612

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.banner-box {
  display: flex;
  width: 300vw;
  transition: transform 0.5s ease-in-out;
}

.banner {
  width: 100vw;
  // border: 3px solid red;
  background: no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  padding: 130px 0;
  .product-office {
    width: 80vw;
    margin: 0 auto;
    // border: 3px solid red;
    .product-office__title {
      font-size: 70px;
      font-weight: 600;
    }
    .product-office__subTitle {
      margin-top: 15px;
      letter-spacing: -2.5px;
      opacity: 0.6;
    }

    .product-office__links {
      margin-top: 40px;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      font-size: 20px;
      font-weight: 400;
      opacity: 0.6;
      .product-office__link {
        width: max-content;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        letter-spacing: -2px;
        span:hover {
          text-decoration: underline;
        }
        i {
          font-size: 15px;
          margin-left: 10px;
        }
      }
    }
  }
}

#frame {
  display: flex;
  justify-content: center;
  // border: 3px solid blue;
  // width: $fixedWidth;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
}

main {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  .header {
    background-color: white;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $boxShadow;
    position: absolute;
    top: -73%;
    .header__services {
      display: flex;
      align-items: center;
      #home {
        margin-left: 20px;
      }
      .header__service {
        font-size: 17.5px;
        font-weight: 600;
        margin-right: 40px;
      }
    }
    .header__account {
      font-size: 13px;
      display: flex;
      align-items: center;
      height: 100%;
      .header__account-item {
        letter-spacing: -1.5px;
        opacity: 0.9;
        &:hover {
          text-decoration: underline;
        }
      }
      .bar {
        opacity: 0.6;
        margin: 0px 7px;
      }
      #officeProduct {
        font-size: 16px;
        margin-left: 45px;
        background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 150px;
        color: white;
        font-weight: 600;
        letter-spacing: -1.5px;
        background: linear-gradient(0.25turn, #cd1737, #5c49a5 70%);
      }
    }
  }
  .update {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: -30%;
    left: 28%;
    .update__box {
      margin-top: 35px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 535px;
      height: 50px;
      background-color: white;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7);
      letter-spacing: -1.5px;
      box-shadow: $boxShadow;
      transition: 0.3s ease-in-out all;
      .update__column {
        cursor: pointer;
        &:hover {
          color: $blue;
        }
        &:first-child {
          display: flex;
          align-items: center;
          span {
            margin-left: 10px;
            &:nth-child(2) {
              color: $blue;
            }
          }

          .update__bar {
            color: rgba(0, 0, 0, 0.1);
            font-size: 30px;
            font-weight: 200;
            margin-left: 10px;
          }
        }
        &:last-child {
          margin-right: 80px;
        }
      }
    }
    .control-circles {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      span {
        margin: 8px;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.8);
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  nav {
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    font-weight: 200;
    .nav__icons {
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
      .nav__text {
        margin-top: 15px;
      }
    }
  }
  .main-product {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    .main-product__item {
      display: flex;
      flex-direction: column;
      width: 370px;
      height: 375px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      transition: 0.4s ease-in-out all;
      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.8);

        color: blue;
      }
      img {
        width: 100%;
      }
      .main-product__content {
        padding: 30px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: -1.5px;
        font-weight: 600;
        .main-product__title {
          font-size: 25px;
          margin-bottom: 15px;
          color: rgba(0, 0, 0, 0.9);
        }
        .main-product__subTitle {
          line-height: 1.5;
          letter-spacing: -2px;
          color: rgba(0, 0, 0, 0.4);
        }
        .main-product__go {
          margin-top: 15px;
          opacity: 0.6;
        }
      }
    }
  }
  .board {
    margin-top: 80px;
    display: flex;
    width: 100%;
    .board__notice {
      width: 50%;
      margin-right: 10px;
      padding-right: 20px;
    }
    .board__event {
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      padding-left: 20px;
      width: 50%;
      height: 100%;

      .board__event-contents {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #f8f8f8;
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .board__header {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 600;
    }
    .board__contents {
      margin-top: 20px;
      .board__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: -1.5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.modal {
  font-size: 50px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  transition: all 1s ease-in-out;
  z-index: 50;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  div:not(:nth-child(2)) {
    cursor: pointer;
  }
}
.modal__opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease-in-out;
  z-index: 50;
}

@keyframes modalAny {
  0% {
    opacity: 1;
  }
  50% {
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.hidden {
  animation: modalAny 0.3s ease-in-out forwards;
}

footer {
  margin-top: 200px;
  background-color: #494949;
  display: flex;
  justify-content: center;
  position: relative;
  .footer__bc--gradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(
      0.25turn,
      #00a3e6 10%,
      #6456b1 50%,
      #e7823f 70%
    );
  }
  .footer__header {
    margin-top: 45px;
    display: flex;
    letter-spacing: -2px;
    font-size: 14px;
    .footer__header-column {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      &:first-child {
        color: white;
      }
      span {
        margin-bottom: 15px;
      }
      .footer__header-items {
        margin-bottom: 15px;
        color: rgba(253, 253, 253, 0.6);
        span {
          margin-right: 20px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .footer__policy {
    margin-top: 40px;
    letter-spacing: -2px;
    font-weight: 600;

    span:first-child {
      color: #00a3e6;
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        color: #89ebff;
      }
    }
    span:last-child {
      color: rgba(253, 253, 253, 0.7);
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  .footer__companyInfo {
    margin-top: 17px;
    font-size: 13px;
    color: rgba(253, 253, 253, 0.6);
    letter-spacing: -0.5px;
    .footer__companyInfo-column {
      margin-bottom: 8px;
      span {
        margin-right: 15px;
      }
    }
  }
  .footer__buisness-info {
    margin-top: 8px;
    background-color: white;
    font-size: 12px;
    letter-spacing: -1.5px;
    padding: 3px;
    cursor: pointer;
    span {
      margin-right: 5px;
      color: rgba(0, 0, 0, 0.6);
      &:last-child {
        color: #0d66d2;
        font-weight: 600;
      }
    }
  }
  .footer__copyright {
    margin-top: 15px;
    font-size: 13px;
    color: rgba(253, 253, 253, 0.6);
  }
  .footer__link {
    cursor: pointer;

    block-size: 350px;
  }
}
